.col-md-11 {
    width: 97.88888888%;
}

@media (min-width: 992px) {
    .header-style-1 .header-bottom .headerbt-wrapper .inner-search {
        padding-left: 0px;
        margin-left: 20px;
    }
}